.menu-main {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #DFD3C3;
  box-shadow: 0px 1px 7px 1px #00000024;
  z-index: 99;
  border-radius: 10px;
  user-select: none;
}

.menu-main-left {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 5px;
  align-items: center;
}

.menu-main-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.menu-main-right-inmenu {
  padding-right: 50px;
}

.menu-main-right-mobile {
  display: none;
}

.btn-show-menu{
  background-color: #596E79;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 340px) {
}

@media screen and (max-width: 280px) {
}

/* For medium devices */

@media screen and (max-width: 780px) {
  .menu-main-right {
    display: none;
  }

  .menu-main-right-mobile {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
  }

  .menu-main-right-inmenu {
    display: block;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
  }

  .menu-main-right-inmenu:hover {
    box-shadow: 0px 4px 10px 0px #0000002c;
    transform: translateY(-4px);
    transition-duration: 500ms;
  }
}

@media screen and (max-width: 570px) {
}

@media screen and (max-width: 540px) {
}

/* For large devices */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 900px) {
}
