.home-content {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-social {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-social-list {
  padding-top: "5px";
  padding-bottom: "5px";
}

.img-svg-test {
  width: 100%;
  max-width: 400px;
}

.detail-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.detail-title-name {
  font-size: 40px;
}

.detail-title-job {
  font-size: 30px;
}

.btn-web {
  display: block;
}

.btn-mobile {
  display: none;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 340px) {
}

@media screen and (max-width: 280px) {
}

/* For medium devices */

@media screen and (max-width: 780px) {
  .home-content {
    align-content: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .home-social {
    display: flex;
    flex-direction: row;
  }

  .home-social-list {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .detail-title {
    font-size: 10px;
  }

  .detail-title-name {
    font-size: 10px;
  }

  .detail-title-job {
    font-size: 10px;
  }
  .btn-web {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
}

@media screen and (max-width: 570px) {
}

@media screen and (max-width: 540px) {
}

/* For large devices */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 900px) {
  .img-svg-test {
    width: 100%;
    max-width: 360px;
  }

  .home-content {
    align-content: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .home-social {
    display: flex;
    flex-direction: row;
  }

  .home-social-list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .home-social-desc {
    display: none;
  }

  .detail-title {
    font-size: 20px;
  }

  .detail-title-name {
    font-size: 29px;
  }

  .detail-title-job {
    font-size: 20px;
  }
}
