@font-face {
  font-family: "Chakra Petch";
  src: url("../files/ChakraPetch-Light.ttf");

  font-weight: 300;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../files/ChakraPetch-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../files/ChakraPetch-Bold.ttf");
  font-weight: 700;
}
* {
  font-family: "Chakra Petch", sans-serif !important;
}
