.qulifi-content {
}

.qulifi-timeline {
}

.btn-select-qul {
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2rem;
}

.timeline-border {
  border: 1px solid #596e79;
  border-radius: 1rem;
  padding: 10px;
  text-align: center;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 340px) {
}

@media screen and (max-width: 280px) {
}

/* For medium devices */

@media screen and (max-width: 780px) {
  .btn-select-qul {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 570px) {
  .btn-select-qul {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 540px) {
}

/* For large devices */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 900px) {
}
