.contact-content {
}

.contact-border {
  border: 1px solid black;
  border-radius: 2rem;
  text-align: center;
  padding: "20px";
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 340px) {
}

@media screen and (max-width: 280px) {
}

/* For medium devices */

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 570px) {
}

@media screen and (max-width: 540px) {
}

/* For large devices */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 900px) {
}
