.port-info-web {
}

.port-info-mobile {
  display: none;
}

.img-cover-list-menu {
  text-align: center;
  background-color: red;
  margin: 20px;
}

.img-cover-list-menu img {
  width: 100%;
  max-width: 150px;
  padding-top: 20px;
}

.body-menu-list {
  padding: 0 20px;
}

.card-list-menu {
  user-select: none;
  transition: all 0.3s;
  min-height: 307px;
  cursor: pointer;
  border: 10px;
  border-radius: 20px;
  border-color: #00000005;
  box-shadow: 0px 2px 12px 4px #00000005;
  background-color: #dfd3c3;
  height: 350px;
}

.card-img-block {
  background-color: #596e79;
  text-align: center;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.meta-banner {
  padding: 20px;
  max-height: 100px;
  min-height: 100px;
  width: 100%;
}

.btn-show-pic {
  background-color: #596e79;
  color: white;
}

.port-btn {
  padding-top: 30px;
  text-align: center;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 340px) {
}

@media screen and (max-width: 280px) {
}

/* For medium devices */

@media screen and (max-width: 780px) {
  .port-info-web {
    display: none;
  }

  .port-info-mobile {
    display: flex;
  }

  .card-list-menu {
    cursor: none;
  }
}

@media screen and (max-width: 570px) {
}

@media screen and (max-width: 540px) {
}

/* For large devices */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 900px) {
}
